.control-label {
	display: block;
	margin-bottom: 5px;
}
.riquired::after {
	content: ' *';
	color: red;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px
}
