.control-label {
	display: block;
	margin-bottom: 5px;
}
.riquired::after {
	content: ' *';
	color: red;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
