.control-label {
	display: block;
	margin-bottom: 5px;
}

.riquired::after {
	content: ' *';
	color: red;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.action-icon {
	text-decoration: none !important;
	margin-left: 5px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px
}

.vencedor {
	color: green;
	font-weight: bold;
}

.perdedor {
	color: red;
}

.empate {
	color: #eea236;
	font-weight: bold;
}

.label-bold {
	font-weight: bold;
}

.container-encerrada {
	display: flex;
	flex-orientation: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 5px;
}

.encerrada {
	background: red;
	color: white;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	border-radius: 4px;
	padding: 5px;
}

.ui-datatable-header {
	display: flex;
	flex-orientation: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end;
}

/* ##### COMPONENTES ##### */

/* LINKS */
a.btn-close {
	color: #007bff !important;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a.btn-close:hover {
	color: #005cbf !important;
}

@media ( max-width : 960px) {
	.retira-margem {
		margin-left: 0px !important;
	}
}

.retira-margem {
	margin-left: -211px;
}

.dialog-status-centro {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top: -70px;
}